<!DOCTYPE html>
<html>
    <head>

        <title>API Test Bsale</title>
        <style>
            body, html{
                height: 100%;
            }
            body{
                margin: 0;
                padding: 0;
                color: #34495E;
            }

            .contenedor {
                background: #EEE;
                align-items: center;
                display: flex;
                justify-content: center;
                height: 100%;
            }
        </style>
    </head>
    <body>

        <div class="contenedor">
            <h2>Bienvenidos al Backend API - Bsale</h2> <br>
        </div>

    </body>
</html